



// general css

html {
    font-size: 62.5%; /* 16px * 62.5% = 10px */
}

body {
    font-size: 1.6rem; /* 10px * 1.6rem = 16px */
    font-family: $secondaryFont;
    font-family: $primaryFont;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $blackShade;
}

* {
    margin: 0;
    padding: 0;   
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.button, .button-two {
    @include para($primaryFont);
    text-transform: uppercase;
    background-color: $accentColor;
    border: none;
    padding: 10px 20px;
}

.button:hover,
.button:focus,
.button-two:hover,
.button-two:focus {
    background-color: darken($accentColor, 5);
    color: $whiteShade;
}
