
.wrapper {
    // outline: 1px blue solid;
}


// header
header {
    background-color: $primaryColor;
    position: relative;

    .header-title-container {
        width: 70%;
        position: relative;

        .header-subtitle {
            width: 15%;
            position: absolute;
            top: 35%;
        }

        .header-title {
            font-size: 14.0rem;
            text-transform: uppercase;
            color: $whiteShade;
            padding: 25% 0 25% 8%;
            margin: 0 auto;
        }
    }

    .header-headshot {
        box-shadow: 20px 20px #FFFFFF;
        width: 30%;
        right: 10%;
        top: 20%;
        position: absolute;
    }
}


// about
.about {
    background-color: $whiteShade;
    padding: 8% 0 10%;

    .about-parent {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .about-title {
        @include headerThree($blackShade);
        width: 100%;
        text-align: center;
        }

        .about-paragraph {
            @include para($secondaryFont);
            line-height: 1.5;
            text-align: center;
            padding: 2% 0;
            width: 100%;
        }
    }
}


// highlighted section
.highlighted-section {
    display: flex;
    flex-flow: row wrap;
}

// child 1-2
.highlighted-image-container {
    border: 2px blue solid;
    width: 50%;
    position: relative;

    .highlighted-foreground {
        width: calc(100% + 20px);
        height: 100%;
        background-color: $secondaryColor;
    }

    .highlighted-image {
        position: absolute;
        height: auto;
        width: 75%;
    }
}

// child 2-2
.highlighted-content-container {
    border: 2px salmon solid;
    width: 50%;

    .highlighted-content {
        border: 2px black solid;
    }
}


// featured section
.featured {
    background-color: $whiteShade;
    padding: 10% 0 8%;
}

.featured-parent {
    display: flex;
    flex-flow: row nowrap;

    // child 1
    .featured-image-container {
        width: 23%;
        margin-right: 12%;

        .featured-image {
            box-shadow: 20px 20px $secondaryColor;
        }
    }

    // child 2
    .featured-content {
        width: 60%;

        .featured-title {
            @include headerThree($blackShade);
        }

        .featured-paragraph {
            @include para($secondaryFont);
            line-height: 1.5;
            padding: 4% 0;
        }

        .button {
            margin-top: 2%;
        }
    }
}


// banner
.banner {
    background-image: url(../assets/home-image-5.jpg);
    height: 55vh;
    width: 100%;
}


// gallery
.gallery {
    padding: 6% 0;
    display: flex;
    flex-flow: row-wrap;
    justify-content: space-between;
    
    .gallery-image:nth-child(2) {
        padding: 0 3%;
    }
}


// secondary nav
.secondary-nav {
    background-color: $whiteShade;
    padding: 5% 0;


    .parent {
        display: flex;
        flex-flow: row nowrap;
    
        .nav-icon {
            background-color: $accentColor;
            color: $blackShade;
            font-size: 2.0rem;
            padding: 1%;
            border-radius: 50%;
            margin-right: 1%;
        }

        .nav-content-container {
            width: 80%;

            .nav-title {
                @include headerFive;
            }

            .nav-description {
                @include para($secondaryFont);
                line-height: 1.5;
            }
        }
    }

}


// footer
footer {
    background-color: $blackShade;
    color: $whiteShade;

    .copyright {
        @include para($secondaryFont);
        line-height: 1.5;
        color: $whiteShade;
        text-align: center;
        padding: 0.5% 0;
    }
}