



// header
/////////////////////////
.main-header {
    background-color: $primaryColor;
    position: relative;

    .header-title-container {
        width: 70%;
        position: relative;
        z-index: 4;

        .header-subtitle {
            width: 15%;
            position: absolute;
            top: 35%;
        }

        .header-title {
            font-size: 14.0rem;
            text-transform: uppercase;
            color: $whiteShade;
            padding: 25% 0 25% 8%;
            margin: 0 auto;
        }
    }

    .header-headshot-container {
        width: 30%;
        right: 10%;
        top: 20%;
        position: absolute;
        z-index: 2;

        .header-headshot {
            width: 100%;
            box-shadow: 20px 20px #FFFFFF;
        }
    }

}


// about
/////////////////////////
.about {
    background-color: $whiteShade;
    padding: 8% 0 10%;

    .about-parent {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .about-title {
        @include headerThree($blackShade);
        width: 100%;
        text-align: center;
        }

        .about-paragraph {
            @include para($secondaryFont);
            text-align: center;
            padding: 2% 0;
            width: 100%;
        }
    }
}


// highlighted section
/////////////////////////
.highlighted {
    background-color: #FFFFFF;
}

.highlighted-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

// child 1-2
.highlighted-image-container {
    width: 50%;
    position: relative;

    // credit to Jules on box-shadow solution
    .highlighted-image {
        box-shadow: 20px 20px $secondaryColor, -200px 20px $secondaryColor;
        position: absolute;
        bottom: calc(5% + 3px);
    }
}

// child 2-2
.highlighted-content-container {
    width: 40%;
    padding-top: 8%;

    .highlighted-title {
        @include headerFour;

    }

    .highlighted-paragraph {
        @include para($secondaryFont);
        padding: 5% 0;
    }
}

// second highlighted section
.highlighted-section-two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: -2%;
}

.highlighted-content-container-two {
    width: 40%;

    .highlighted-title-two {
        @include headerFour;
        text-align: right;
    }

    .highlighted-paragraph-two {
        @include para($secondaryFont);
        padding: 5% 0;
        text-align: right;
    }

    .button-two {
        float: right;
    }
    
}

.highlighted-image-container-two {
    width: 50%;
    position: relative;

    .highlighted-image-two {
        box-shadow: 20px 20px $primaryColor, 200px 20px $primaryColor;
        width: 100%;
    }
}


// featured section
/////////////////////////
.featured {
    background-color: $whiteShade;
    padding: 10% 0 8%;
}

.featured-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    // child 1
    .featured-image-container {
        width: 23%;
        margin-right: 12%;

        .featured-image {
            box-shadow: 20px 20px $secondaryColor;
        }
    }

    // child 2
    .featured-content {
        width: 60%;

        .featured-title {
            @include headerThree($blackShade);
        }

        .featured-paragraph {
            @include para($secondaryFont);
            padding: 4% 0;
        }

        .button {
            margin-top: 2%;
        }
    }
}


// banner
/////////////////////////
.banner-break {
    background-image: url(../assets/home-image-5.jpg);
    background-size: cover;
    height: 55vh;
    width: 100%;
}


// gallery
/////////////////////////
.gallery {
    padding: 6% 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
    .gallery-image:nth-child(2) {
        padding: 0 3%;
    }
}


// secondary nav
/////////////////////////
.secondary-nav {
    background-color: $whiteShade;
    padding: 5% 0 2%;


    .nav-option-container {
        display: flex;
        flex-flow: row wrap;
    }

    .nav-option {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        width: 50%;
        margin-bottom: 5%;

        .nav-icon-container {
            width: 10%;
            height: 100%;
        }
    
        .nav-icon {
            background-color: $accentColor;
            color: $blackShade;
            font-size: 2.0rem;
            padding: 20%;
            border-radius: 50%;
        }

        .nav-content-container {
            width: 90%;
            
            .nav-link:hover,
            .nav-link:focus {
                color: lighten($blackShade, 50);
            }

            .nav-title {
                @include headerFive;
                padding: 1% 0 2%;
            }

            .nav-description {
                @include para($secondaryFont);
            }
        }
    }

}


// footer
/////////////////////////
footer {
    background-color: $blackShade;
    color: $whiteShade;

    .copyright {
        @include para($secondaryFont);
        color: $whiteShade;
        text-align: center;
        padding: 0.5% 0;
    }
}



