
// wide screen breakpoints

@media (min-width: 1490px) {
    header {

        .header-headshot-container {
            top: 15%;

            .header-headshot {
                width: 100%;
                box-shadow: 20px 20px #FFFFFF;
            }
        }

    }
}

@media (min-width: 1600px) {
    header {

        .header-headshot-container {
            width: 25%;

            .header-headshot {
                width: 100%;
                box-shadow: 20px 20px #FFFFFF;
            }
        }

    }    

    // child 1-2
    .highlighted-image-container {

        .highlighted-image {
            box-shadow: 20px 20px $secondaryColor, -100px 20px $secondaryColor;
        }
    }

    .highlighted-image-container-two {

        .highlighted-image-two {
            box-shadow: 20px 20px $primaryColor, 100px 20px $primaryColor;

        }
    }    
}

// smaller screen breakpoints 

// index bp1
@media (max-width: 1107px) {

    header {

        .header-title-container {

            .header-title {
                font-size: 12.0rem;
            }
        }
    }

}

// index bp2
@media (max-width: 978px) {

    .highlighted {
        .highlighted-section-two {
            padding-bottom: 5%;
        }        
    }

}

// index bp3
@media (max-width: 855px) {


    .main-nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .nav-list {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            .nav-item:not(:nth-child(3)) {
                display: none;


            }

            .nav-title {
                font-size: 3.0rem;

            }

            .nav-hamburger {
                display: block;
            }
        }

    }
    
    header {
        .header-title-container {
            .header-title {
                font-size: 10.0rem;
            }
        }
    }    

    // highlight row one
    .highlighted-section {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .highlighted-image-container {
        width: 100%;

        .highlighted-image {
            position: relative;
        }
    }

    .highlighted-content-container {
        width: 100%;
    }

    // highlight row two
    .highlighted-section-two {
        flex-direction: column-reverse;
        align-items: flex-end;

        .highlighted-content-container-two {
            width: 100%;
            padding-top: 7%;
        }

        .highlighted-image-container-two {
            width: 100%;
        }
    }

    // featured section
    .featured-parent {
        .featured-image-container {
            margin-right: 6%;
        }
    }

    // gallery section
    .gallery {

        .gallery-image:nth-child(2) {
            padding: 0;
        }
    }

    // secondary nav section
    .nav-option-container {
        .nav-option {
            width: 100%;
        }
    }
}

@media (max-width: 760px) {

    header {
        .header-title-container {
            .header-title {
                font-size: 8.0rem;
            }
        }
    }  

    // highlight row two
    .highlighted-section-two {
        flex-direction: column-reverse;
        align-items: flex-end;

        .highlighted-content-container-two {
            width: 100%;
            padding-top: 7%;
        }
    }

    // featured
    .featured {

        .featured-parent {
            flex-direction: column;

            .featured-image-container {
                width: 100%;
            }

            .featured-content {
                width: 100%; 
                padding-top: 5%;
            }
        }
    }

    .gallery {

        .gallery-image:nth-child(2) {
            display: none;
        }

        .gallery-image {
            width: 50%;
        }
    }
}

@media(max-width: 605px) {

    .main-nav {
        .nav-list {

            .nav-item {
                .nav-title {
                    font-size: 2.0rem;
                }
            }
        }
    }

    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
            
        .header-title-container {
            width: 100%;

            .header-subtitle {
                top: 15%;
            }

            .header-title {
                padding: 5% 0 0 7%;
            }
        }

        // i tried to right justify this container via flexbox, to no avail. floated right instead
        .header-headshot-container {
            width: 100%;
            float: right;
            padding: 2% 0;
            width: 60%;
            position: static;

            .header-headshot {
                box-shadow: none;
            }
        }
    }

    .banner {
        display: none;
    }

    .gallery {

        .gallery-image:nth-child(3) {
            display: none;
        }

        .gallery-image {
            width: 100%;
        }
    }
}


@media (max-width: 415px) {

    header {
        .header-title-container {
            .header-title {
                font-size: 7.0rem;
            }
        }
    }

    .secondary-nav {
        .nav-option {
            .nav-icon-container {
                width: 15%;
            }
        }
    }
}