html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  /* 16px * 62.5% = 10px */
}

body {
  font-size: 1.6rem;
  /* 10px * 1.6rem = 16px */
  font-family: "Montserrat", sans-serif;
  font-family: "Abril Fatface", cursive;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1F1F1F;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.button, .button-two {
  font-family: "Abril Fatface", cursive;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1F1F1F;
  text-transform: uppercase;
  background-color: #E4A436;
  border: none;
  padding: 10px 20px;
}

.button:hover,
.button:focus,
.button-two:hover,
.button-two:focus {
  background-color: #e19a20;
  color: #F6F6F6;
}

.main-nav {
  background-color: #345231;
  width: 100%;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list .nav-item {
  height: 100%;
  margin-right: 3%;
  padding: 2% 0;
}

.nav-list .nav-item .nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2.0rem;
  text-transform: uppercase;
  line-height: 29px;
  letter-spacing: 1px;
  color: #F6F6F6;
  height: 100%;
  padding: 5% 0;
}

.nav-list .nav-item .nav-link:hover,
.nav-list .nav-item .nav-link:focus {
  color: #E4A436;
}

.nav-list .nav-item .nav-title {
  font-family: "Abril Fatface", cursive;
  font-weight: regular;
  font-size: 4.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #F6F6F6;
}

.nav-list .nav-item:nth-child(5) {
  margin-right: 0;
}

header {
  background-color: #345231;
  position: relative;
}

header .header-title-container {
  width: 70%;
  position: relative;
  z-index: 4;
}

header .header-title-container .header-subtitle {
  width: 15%;
  position: absolute;
  top: 35%;
}

header .header-title-container .header-title {
  font-size: 14.0rem;
  text-transform: uppercase;
  color: #F6F6F6;
  padding: 25% 0 25% 8%;
  margin: 0 auto;
}

header .header-headshot {
  -webkit-box-shadow: 20px 20px #FFFFFF;
          box-shadow: 20px 20px #FFFFFF;
  width: 30%;
  right: 10%;
  top: 20%;
  position: absolute;
  z-index: 2;
}

.about {
  background-color: #F6F6F6;
  padding: 8% 0 10%;
}

.about .about-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-parent .about-title {
  font-family: "Abril Fatface", cursive;
  font-weight: regular;
  font-size: 4.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1F1F1F;
  width: 100%;
  text-align: center;
}

.about .about-parent .about-paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1F1F1F;
  text-align: center;
  padding: 2% 0;
  width: 100%;
}

.highlighted {
  background-color: #FFFFFF;
}

.highlighted-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.highlighted-image-container {
  width: 50%;
  position: relative;
}

.highlighted-image-container .highlighted-image {
  -webkit-box-shadow: 20px 20px #709B6B, -200px 20px #709B6B;
          box-shadow: 20px 20px #709B6B, -200px 20px #709B6B;
  position: absolute;
  bottom: calc(5% + 3px);
}

.highlighted-content-container {
  width: 40%;
  padding-top: 8%;
}

.highlighted-content-container .highlighted-title {
  font-family: "Abril Fatface", cursive;
  font-weight: regular;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1F1F1F;
}

.highlighted-content-container .highlighted-paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1F1F1F;
  padding: 5% 0;
}

.highlighted-section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4%;
  margin-bottom: -2%;
}

.highlighted-content-container-two {
  width: 40%;
}

.highlighted-content-container-two .highlighted-title-two {
  font-family: "Abril Fatface", cursive;
  font-weight: regular;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1F1F1F;
  text-align: right;
}

.highlighted-content-container-two .highlighted-paragraph-two {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1F1F1F;
  padding: 5% 0;
  text-align: right;
}

.highlighted-content-container-two .button-two {
  float: right;
}

.highlighted-image-container-two {
  width: 50%;
  position: relative;
}

.highlighted-image-container-two .highlighted-image-two {
  -webkit-box-shadow: 20px 20px #345231, 200px 20px #345231;
          box-shadow: 20px 20px #345231, 200px 20px #345231;
  width: 100%;
}

.featured {
  background-color: #F6F6F6;
  padding: 10% 0 8%;
}

.featured-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.featured-parent .featured-image-container {
  width: 23%;
  margin-right: 12%;
}

.featured-parent .featured-image-container .featured-image {
  -webkit-box-shadow: 20px 20px #709B6B;
          box-shadow: 20px 20px #709B6B;
}

.featured-parent .featured-content {
  width: 60%;
}

.featured-parent .featured-content .featured-title {
  font-family: "Abril Fatface", cursive;
  font-weight: regular;
  font-size: 4.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1F1F1F;
}

.featured-parent .featured-content .featured-paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1F1F1F;
  padding: 4% 0;
}

.featured-parent .featured-content .button {
  margin-top: 2%;
}

.banner {
  background-image: url(../assets/home-image-5.jpg);
  height: 55vh;
  width: 100%;
}

.gallery {
  padding: 6% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .gallery-image:nth-child(2) {
  padding: 0 3%;
}

.secondary-nav {
  background-color: #F6F6F6;
  padding: 5% 0 2%;
}

.secondary-nav .nav-option-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.secondary-nav .nav-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  margin-bottom: 5%;
}

.secondary-nav .nav-option .nav-icon-container {
  width: 10%;
  height: 100%;
}

.secondary-nav .nav-option .nav-icon {
  background-color: #E4A436;
  color: #1F1F1F;
  font-size: 2.0rem;
  padding: 20%;
  border-radius: 50%;
}

.secondary-nav .nav-option .nav-content-container {
  width: 90%;
}

.secondary-nav .nav-option .nav-content-container .nav-title {
  font-family: "Abril Fatface", cursive;
  font-weight: regular;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1F1F1F;
  padding: 1% 0 2%;
}

.secondary-nav .nav-option .nav-content-container .nav-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1F1F1F;
}

footer {
  background-color: #1F1F1F;
  color: #F6F6F6;
}

footer .copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1F1F1F;
  color: #F6F6F6;
  text-align: center;
  padding: 0.5% 0;
}

.contact-color {
  background-color: #F6F6F6;
}

.banner {
  height: 40vh;
  background-image: url("../assets/contact-image-1.jpg");
  background-size: cover;
  position: relative;
}

.banner .page-title {
  font-family: "Abril Fatface", cursive;
  font-weight: regular;
  font-size: 6.0rem;
  text-transform: uppercase;
  line-height: 92px;
  letter-spacing: 1px;
  color: #F6F6F6;
  line-height: 44px;
  position: absolute;
  bottom: 0;
}

.parent {
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.parent .contact-info {
  width: 32%;
}

.parent .contact-form {
  width: calc(100% - 32% - 4%);
}

.contact-info {
  background-color: #FFFFFF;
}

.contact-info .social-list {
  margin: 10% 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.contact-info .social-list .social-item {
  margin-right: 10%;
}

.contact-info .social-list .social-item .social-link {
  font-size: 2.5rem;
  color: #345231;
}

.contact-info .social-list .social-item .social-link:hover,
.contact-info .social-list .social-item .social-link:active {
  color: #709B6B;
}

.contact-info .contact-list {
  margin: 10%;
}

.contact-info .contact-list .contact-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1F1F1F;
  margin-bottom: 1%;
}

.contact-info .contact-list .contact-item .contact-link:hover,
.contact-info .contact-list .contact-item .contact-link:focus {
  color: #9f9f9f;
}

.contact-info .contact-list .contact-item:nth-child(1) {
  margin-bottom: 5%;
  font-weight: bold;
}

.comment-submission-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1F1F1F;
}

.comment-submission-form .name-input {
  font-weight: 300;
  border: none;
  width: calc(50% - 2%);
  margin-right: 2%;
  padding: 3%;
}

.comment-submission-form .email-input {
  border: none;
  font-weight: 300;
  width: 50%;
  padding: 3%;
}

.comment-submission-form .text-area {
  font-weight: 300;
  resize: none;
  border: none;
  margin: 2% auto;
  width: 100%;
  padding: 5% 3% 0%;
}

.comment-submission-form .button {
  width: 100%;
}

.blog-color {
  background-color: #F6F6F6;
}

.banner {
  height: 40vh;
  background-image: url("../assets/blog-image-1.jpg");
  background-size: cover;
  position: relative;
}

.banner .page-title {
  font-family: "Abril Fatface", cursive;
  font-weight: regular;
  font-size: 6.0rem;
  text-transform: uppercase;
  line-height: 92px;
  letter-spacing: 1px;
  color: #F6F6F6;
  line-height: 44px;
  position: absolute;
  bottom: 0;
}

.parent {
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.parent .aside-content-container {
  width: 32%;
}

.parent .blog-content-container {
  width: calc(100% - 32% - 4%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.parent .blog-content-container .blog-post,
.parent .blog-content-container .comment-section,
.parent .blog-content-container .contact-form {
  width: 100%;
}

.blog-about,
.blog-recent {
  background-color: #FFFFFF;
  padding: 8%;
}

.blog-about .blog-about-title,
.blog-recent .blog-about-title {
  font-family: "Abril Fatface", cursive;
  font-weight: regular;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1F1F1F;
  padding: 5% 0;
}

.blog-about .blog-about-paragraph,
.blog-recent .blog-about-paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1F1F1F;
}

.blog-about .blog-about-paragraph .about-expand,
.blog-recent .blog-about-paragraph .about-expand {
  font-weight: bold;
}

.blog-about .blog-about-paragraph .about-expand .about-link,
.blog-recent .blog-about-paragraph .about-expand .about-link {
  color: #709B6B;
}

.blog-about .blog-about-paragraph .about-expand .about-link:hover,
.blog-about .blog-about-paragraph .about-expand .about-link:focus,
.blog-recent .blog-about-paragraph .about-expand .about-link:hover,
.blog-recent .blog-about-paragraph .about-expand .about-link:focus {
  color: #445f41;
}

.blog-about .recent-title,
.blog-recent .recent-title {
  font-family: "Abril Fatface", cursive;
  font-weight: regular;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1F1F1F;
  padding: 5% 0;
}

.blog-about .recent-list,
.blog-recent .recent-list {
  list-style-type: disc;
  list-style-position: inside;
}

.blog-about .recent-list .recent-item,
.blog-recent .recent-list .recent-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1F1F1F;
}

.blog-about .recent-list .recent-item .recent-link:hover,
.blog-about .recent-list .recent-item .recent-link:focus,
.blog-recent .recent-list .recent-item .recent-link:hover,
.blog-recent .recent-list .recent-item .recent-link:focus {
  color: #9f9f9f;
}

.blog-post {
  background-color: #FFFFFF;
  margin-bottom: 5%;
  padding: 4%;
  border-bottom: 4px solid #709B6B;
}

.blog-post .blog-title {
  font-family: "Abril Fatface", cursive;
  font-weight: regular;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1F1F1F;
  padding-bottom: 2%;
}

.blog-post .blog-timestamp,
.blog-post .blog-paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1F1F1F;
  padding-bottom: 2%;
}

.comment-section {
  background-color: #FFFFFF;
  width: 100%;
  padding: 4%;
  margin-bottom: 5%;
}

.posted-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.posted-comment .comment-picture-container {
  width: 15%;
}

.posted-comment .comment-picture-container .comment-picture {
  width: 100%;
  height: auto;
}

.posted-comment .comment-paragraph-container {
  width: calc(100% - 15% - 2%);
  margin-left: 2.5%;
}

.posted-comment .comment-paragraph-container .comment-paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1F1F1F;
}

.posted-comment .comment-paragraph-container .comment-timestamp {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1F1F1F;
  padding-bottom: 2%;
}

section.blog-content-container div:nth-child(3) {
  border-bottom: 4px solid #709B6B;
}

.comment-submission-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1F1F1F;
}

.comment-submission-form .name-input {
  font-weight: 300;
  border: none;
  width: calc(50% - 2%);
  margin-right: 2%;
  padding: 4%;
}

.comment-submission-form .email-input {
  border: none;
  font-weight: 300;
  width: 50%;
  padding: 4%;
}

.comment-submission-form .text-area {
  font-weight: 300;
  resize: none;
  border: none;
  margin: 2% auto;
  width: 100%;
  padding: 5% 4% 0%;
}

.comment-submission-form .button {
  width: 100%;
}
